.feed {
    text-align: center;
}

.events {
    padding-left: 0;
}

.events :first-child {
    border-top: 0;
}

.event {
    border-top: 2px solid;
    margin-top: 50px;
    padding-top: 30px;
    list-style-type: none;
}

.event div {
    font-size: 34px;
}